{% extends "base.html" %}

{% block page_content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<!-- 引入流式布局 -->
<div class="container-fluid">
    <div class="row">
        <!-- 引入栅格系统占用10列(默认共12等分) -->
        <div class="col-md-10">
            <table class="table table-bordered table-bordered table-hover table-condensed table-responsive" style="margin-left: 10px; margin-right: 10px" >
                <thead>
                    <tr class='success'>
                        <td>用户名</td>
                        <td>邮箱</td>
                        <td>价格比重</td>
                        <td>销量比重</td>
                        <td>评论比重</td>
                        <td>action</td>
                    </tr>
                </thead>
                <tbody>
                    {% for i in li %}
                        <tr class='info'>
                            <td>{{ i[0] }}</td>
                            <td type='hidden'>{{ i[1] }}</td>
                            <td>{{ i[2] }}</td>
                            <td>{{ i[3] }}</td>
                            <td>{{ i[4] }}</td>
                            <td>
                                <a class="btn btn-info btn-xs" href="/user/update/username={{i[0]}}">修改密码</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>
</body>
</html>
{% endblock %}